html, body {
    height: 100%;
    margin: 0;
}

/* Header styling to position links in the upper-right corner */
#header {
    position: absolute;
    top: 10px;
    right: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="submit"] {
    padding: 10px 20px;
    border: none;
    background-color: #4285F4;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #357AE8;
}

